<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/login-style.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <div class="logo-area">
            <div id="storyforge"></div>
        </div>
        <form>
            <div class="user-div">
                Username:
                <input name="email" type="text">
            </div>
            <div class="pass-div">
                Password:
                <input name="password" type="password">
            </div>
            <div class="log-in">
                <button>Sign in</button>
            </div>
        </form>
        <div class="create-acc">
            Create an account
        </div>
    </div>
</body>