<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/nav-panel.css">
    <title>Notes</title>
</head>
<body>
    <nav class="nav-panel">
        <a href="home.html"><div id="home"></div></a>
        <a href="overview.html"><div id="overview"></div></a>
        <a><div id="arrow"></div></a>
        <a href="sketches.html"><div id="sketch"></div></a>
        <a href="note.html"><div id="note"></div></a>
    </nav>
    <main>
        <header>
            <div class="search-bar">
            </div>
            <div class="add-project">
            </div>
        </header>
        <section class="projects">
        </section>
    </main>
<script src="../js/nav-panel.js"></script>
</body>