<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/nav-panel.css">
    <link rel="stylesheet" type="text/css" href="../css/multi-select.css">
    <script src="../js/multi-select.js"></script>
    <title>Notes</title>
</head>
<body>
    <nav class="nav-panel">
        <a href="home.html"><div id="home"></div></a>
        <a href="overview.html"><div id="overview"></div></a>
        <a><div id="arrow"></div></a>
        <a href="sketches.html"><div id="sketch"></div></a>
        <a href="note.html"><div id="note"></div></a>
    </nav>
    <main>
        <header>
            <div class="search-bar">
<form>
    <div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()">
            <select>
                <option>Select an option</option>
            </select>
            <div class="overSelect"></div>
        </div>
        <div id="checkboxes">
            <label for="one">
                <input type="checkbox" id="one" />First checkbox</label>
            <label for="two">
                <input type="checkbox" id="two" />Second checkbox</label>
            <label for="three">
                <input type="checkbox" id="three" />Third checkbox</label>
        </div>
    </div>
</form>
            </div>
            <div class="add-project">
            </div>
        </header>
        <section class="projects">
        </section>
    </main>
<script src="../js/nav-panel.js"></script>
</body>