header {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
    background-image: url("../assets/images/home/upper-background.jpg");
    background-size: cover;
    background-position-y: -65px;
    background-repeat: no-repeat;
}

.title {
    grid-column: 1;
    grid-row: 1;
    padding-left: 0.2em;
    font-size: 6em;
    font-style: italic;
    -webkit-text-stroke: 2px #242424;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    color: #FBE9D3;
    paint-order: stroke fill;
}

.search-bar {
    grid-column: 1;
    grid-row: 2;
}

.search-bar form {
    height: 100%;
    display: flex;
    align-items: center;
}

.search-bar svg {
    height: 2.5em;
    width: 2.5em;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-left: 1.5em;
    background-color: #FBE9D3;
    border-radius: 4em;
    box-shadow: 8px 8px 21px -7px rgba(0, 0, 0, 1);
}

.search-bar svg:hover {
    outline: 0.2em solid #f5f5f5;
}

.search-bar svg:active {
    outline: 0.2em solid #5b5fc7;
}

.search-bar input {
    font-size: 2.5em;
    max-width: 16em;
    background-color: #FBE9D3;
    color: #242424;
    padding: .1rem .4rem;
    border-radius: 0.2em;
    outline: none;
    border: none;
    line-height: 1;
    box-shadow: 8px 8px 21px -7px rgba(0, 0, 0, 1);
    border-bottom: 0.1em solid #f5f5f5;
}

.search-bar input:focus {
    border-bottom: 0.1em solid #5b5fc7;
}

.search-bar input:hover {
    outline: 0.08em solid #f5f5f5;
}

.account-panel {
    grid-column: 2;
    grid-row: 1 / span 2;
    max-width: 12em;
    height: fit-content;
    background-color: #FBE9D3;
    margin-left: 6em;
    margin-top: 2em;
    padding: 1em;
    border-radius: 2em;
    border-color: black;
    font-size: 1.5em;
    text-align: right;
}

.log-info {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.2em;
    background-color: #f5f5f5;
    border: 0.07em solid black;
    padding: 0.1em;
    border-radius: 0.5em;
}

.log-info svg {
    height: 1em;
    width: 1em;
    margin-right: 0.2em;
}

.logout {
    display: inline-block;
    width: fit-content;
    background-color: #e0c8ab;
    padding: 0.2em;
    border-radius: 0.5em;
}

.logout:hover {
    background-color: #bba386;
}

.logout:active {
    outline: 0.2em solid #5b5fc7;
}
