header {
    background: url("../assets/images/home/upper-background.jpg");
    background-size: cover;
    background-position-y: -65px;
    background-repeat: no-repeat;
}

.left-up {
    padding-left: 0.2em;
    font-size: 6em;
}

.left-down form {
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
}

.left-down form svg {
    height: 2.5em;
    width: 2.5em;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-left: 1.5em;
    background-color: #FBE9D3;
    border-radius: 4em;
    box-shadow: 8px 8px 21px -7px rgba(0, 0, 0, 1);
}

.left-down form svg:hover {
    outline: 0.2em solid #f5f5f5;
}

.left-down form svg:active {
    outline: 0.2em solid #5b5fc7;
}

.left-down input {
    font-size: 2.5em;
    max-width: 16em;
    background-color: #FBE9D3;
    color: #242424;
    padding: .1rem .4rem;
    border-radius: 0.2em;
    outline: none;
    border: none;
    line-height: 1;
    box-shadow: 8px 8px 21px -7px rgba(0, 0, 0, 1);
    border-bottom: 0.1em solid #f5f5f5;
}

.left-down input:hover {
    outline: 0.08em solid #f5f5f5;
}

.left-down input:focus {
    border-bottom: 0.1em solid #5b5fc7;
}

#projects {
    border-radius: 2em;
    background: url("../assets/images/home/bookshelf-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    min-height: 550px;
    display: flex;
    justify-content: center;
}

#projects div:hover {
    outline: 0.2em solid #f5f5f5;
}

#projects div:active {
    outline: 0.2em solid #5b5fc7;
}
#projects div {
    background-image: url("../assets/images/home/book-cover.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-sizing: border-box;
    margin: 2em;
    min-width: 9em;
    width: 9em;
    min-height: 14em;
    height: 14em;
    padding: 1em;
    text-align: center;
    place-content: center;
    justify-content: center;
    font-size: 1.7em;
    color: rgba(204, 202, 110, 0.918);
    font-family: Garamond, serif;
}