body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #FBE9D3;
    border-radius: 3em;
    width: 65vh;
    min-width: fit-content;
    min-height: fit-content;
    align-items: center;
    justify-content: center;
}

.logo-area {
    width: 100%;
    background-color:#e0c8ab;
    border-radius: 3em 3em 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

#storyforge {
    background-image: url("../assets/images/login/StoryForge.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 22px;
    width: 15em;
    height: 2em;
    padding: 3em 4em 3em 4em;
    margin: 1em;
}

#login-form {
    width: 80%;
    font-size: 2.5em;
}

#login-form input {
    height: 2em;
    font-size: 0.5em;
    margin-left: auto;
    margin-right: 0;
    background-color: #f5f5f5;
    color: black;
    padding: .1rem .4rem;
    border-radius: 0.2em;
    outline: none;
    border: 0.1em solid black;
    line-height: 1;
}

.user-div {
    display: flex;
    align-items: center;
    padding: 0.2em;
}

.pass-div {
    display: flex;
    align-items: center;
    padding: 0.2em;
}

#login-message {
    font-size: 0.5em;
    height: 0.5em;
    padding: 1em;
    color: red;
    display: flex;
    align-content: center;
    justify-content: center;
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-in button {
    font-size: 3em;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    -webkit-text-stroke: 2px #242424;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    color: #FBE9D3;
    paint-order: stroke fill;
}

.log-in button {
    background: url("../assets/images/login/logo-magic-book.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    width: 3em;
    height: 3em;
}

.add-button {
    font-size: 1em;
    margin-left: auto;
    margin-bottom: 1em;
    margin-right: 3em;
    width: fit-content;
    height: fit-content;
    background-color: #e0c8ab;
    padding: 0.5em;
    border-radius: 1em;
}

.add-button:hover {
    outline: 0.08em solid #f5f5f5;
    cursor: pointer;
}

.add-button:active {
    outline: 0.08em solid #5b5fc7;
    cursor: pointer;
}