.nav-panel { 
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-image: url("../assets/bookmarks/panel-background.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -35px;
    transition: left 0.3s ease;
    z-index: 100;
}

.nav-panel div {
    height: 90px;
    width: 120px;
    padding: 10px;
    margin: 0px;
    margin-left: 40px;
    border: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
}

#home {
    background-image: url("/public/assets/bookmarks/fullview/home-icon.svg");
}

#overview {
    background-image: url("/public/assets/bookmarks/fullview/overview-icon.svg");
}

#arrow {
    height: 120px;
    width: 50px;
    margin: 20px;
    margin-left: 100px;
    background-image: url("/public/assets/bookmarks/arrow.svg");
    background-position: center;
    transition: transform 0.3s ease;
}

#sketch {
    background-image: url("/public/assets/bookmarks/fullview/sketches-icon.svg");
}

#note {
    background-image: url("/public/assets/bookmarks/fullview/notes-icon.svg");
}

.nav-panel a {
    display: contents;
}

.nav-panel.collapsed {
    left: -160px;
}

.nav-panel.collapsed #arrow {
    transform: rotate(-180deg) translateX(-30px);
}

.nav-panel.collapsed a {
    pointer-events: none;
}

.nav-panel.collapsed #arrow {
    pointer-events: auto;
}