.nav-panel { 
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-image: url("../assets/bookmarks/panel-background.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: -13px;
    transition: left 0.3s ease;
}

.nav-panel div {
    height: 30px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
    border: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

#home {
    background-image: url("/public/assets/bookmarks/fullview/home-icon.svg");
}

#overview {
    background-image: url("/public/assets/bookmarks/fullview/overview-icon.svg");
}

#arrow {
    height: 45px;
    background-image: url("/public/assets/bookmarks/arrow.svg");
    background-position: center;
    transition: transform 0.3s ease;
}

#sketch {
    background-image: url("/public/assets/bookmarks/fullview/sketches-icon.svg");
}

#note {
    background-image: url("/public/assets/bookmarks/fullview/notes-icon.svg");
}

.nav-panel a {
    display: contents;
}

.nav-panel.collapsed {
    left: -42px;
}

.nav-panel.collapsed #arrow {
    transform: rotate(-180deg) translateX(-10px);
}

.nav-panel.collapsed a {
    pointer-events: none;
}

.nav-panel.collapsed #arrow {
    pointer-events: auto;
}