header {
    background: url("../assets/images/overview/upper-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -500px;
}

section div:hover {
    color: cornflowerblue;
    font-weight: bold;
}