header {
    display: flex;
    background-color: greenyellow;
}

.wrapper {
    height: 100%;
    width: 75%;
}

.title {
    height: 50%;
    font-size: 1em;
    -webkit-text-stroke: 2px #242424;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    color: #FBE9D3;
    paint-order: stroke fill;
}

.tags-wrapper {
    height: 50%;
}

.tags-list {
    width: 50%;
    display: flex;
    align-items: center;
}

.tags-list svg {
    height: 3em;
    width: 3em;
}

.tags-list form {
    font-size: 3em;
    display: flex;
}

.tags-list label {
    margin-left: 0.5em;
}

.tags-list select {
    appearance: base-select;
    &::picker(select) {
        appearance: base-select;
    }
}

.tags-list select {
    font-size: 0.5em;
    margin-left: 1em;
    width: 8em;
    background-color: rgba(0,0,0,0);
    border-radius: 0.5em;
    align-items: center;
}

.tags-list input {
    font-size: 0.5em;
    margin-left: 0.5em;
}

.add-tag {
    width: 50%;
}

.account-panel {
    max-width: 12em;
    height: fit-content;
    background-color: #FBE9D3;
    margin-top: 2em;
    padding: 1em;
    border-radius: 2em;
    border-color: black;
    font-size: 1.5em;
    text-align: right;
    width: 25%;
}