body {
    margin: 0;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/galaxy-background.jpg");
    background-size: cover;
    width: 100vw;
}

main {
    width: 96vw;
    margin: 0 auto;
    margin-top: 2vw;
}

header {
    border-radius: 7px;
    padding: 3px;
    margin-bottom: 1vw;
    background-color: #FBE9D3;
}

section {
    border-radius: 7px;
    padding: 3px;
    background-color: #6b4618;
}